[tool.poetry]
name = "look-like-scanned"
version = "0.2.3"
description = "Python script to make documents look like they were scanned."
authors = ["navchandar <12165092+navchandar@users.noreply.github.com>"]
repository    = "https://github.com/navchandar/look-like-scanned"
homepage = "https://github.com/navchandar/look-like-scanned"
readme = "README.md"
keywords = ["pdf", "scan", "scanner", "image-to-pdf", "pdf-to-scan"]
packages = [
    { include = "scanner" },
]
classifiers = [
    "Development Status :: 4 - Beta",
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: Microsoft :: Windows :: Windows 10',
    'Operating System :: POSIX :: Linux',
    'Environment :: Console',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: Utilities',
]


[tool.poetry.dependencies]
python = "^3.7"
pillow = "^9.5.0"
pypdfium2 = "^4.11.0"
colorama = "^0.4.6"


[tool.poetry.scripts]
scanner = "scanner:main"


[tool.poetry.urls]
"Bug Tracker" = "https://github.com/navchandar/look-like-scanned/issues"
"Funding" = "https://www.buymeacoffee.com/navchandar/"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
pytest = "^7.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
log_cli = 1
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)s] %(module)s.%(funcName)s.%(lineno)d: %(message)s"
log_cli_date_format = "%H:%M:%S"
